@page
@model Acuedify.Pages.Quizzes.EditModel
@* @model Acuedify.Models.Quiz *@

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/EditQuiz.css" />


<div class="edit-quiz-container">
    <h1>Edit</h1>
    <h4>Quiz</h4>
    <hr />
    <div class="edit-quiz-form">
        <form method="post" asp-page="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="quiz.Id" />
            <input type="hidden" asp-for="quiz.UserId" />

            <div class="form-group">
                <label asp-for="quiz.Title" class="control-label"></label>
                <input asp-for="quiz.Title" class="form-control" />
                <span asp-validation-for="quiz.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quiz.Description" class="control-label"></label>
                <input asp-for="quiz.Description" class="form-control" />
                <span asp-validation-for="quiz.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="favorite-checkbox-label">
                    <input class="form-check-input favorite-checkbox" asp-for="quiz.isFavorite" />
                    <span>Favorite</span>
                </label>
            </div>

            <div class="form-group">
                <label class="control-label">Make this quiz:</label>
                <div class="accesslevel-buttons">
                    @foreach (var accesslevel in Enum.GetValues(typeof(Acuedify.Models.AccessLevel)))
                    {
                        <div class="accesslevel-option">
                            <input asp-for="quiz.AccessLevel" type="radio" value="@accesslevel" id="accesslevel_@(accesslevel.ToString())" />
                            <label class="accesslevel-square" for="accesslevel_@(accesslevel.ToString())"></label>
                            <label class="accesslevel-label" for="accesslevel_@(accesslevel.ToString())">@accesslevel</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="quiz.AccessLevel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<partial name="_Questions" model="@Model" />
<hr />

<div class="back-to-list">
    <a asp-page="../Library/Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
