@model Acuedify.Pages.Playing.IndexModel
<head>
	<link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
	<div class="flashcard-container">
		<div class="flashcard" onclick="rotateCard(this)">
			<div class="card">
				<div class="term" id="term">
					@Model.Details.Quiz.Questions[Model.Details.CurrentIndex].Term
				</div>
				<div class="definition" id="definition">
					@Model.Details.Quiz.Questions[Model.Details.CurrentIndex].Definition
				</div>
			</div>
		</div>
	</div>
</body>