@model LibraryDetails


@{
}

<div>
	<h4 class="mb-4 mt-3">Favorite quizzes:</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="10%">Title</th>
				<th width="65%">Description</th>
				<th width="25%">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var quiz in Model.Favourites)
			{
				<tr>
					<td>@quiz.Title</td>
					<td>@quiz.Description</td>
					<td>
						<a asp-controller="Playing" asp-action="Index" asp-route-quizId="@quiz.Id" class="btn btn-outline-success btn-sm">
							<svg width="16" height="16" viewBox="0 0 16 16">
								<use xlink:href="Icons/Icons.svg#icon-play"></use>
							</svg>
						</a>
						<a asp-controller="Quizzes" asp-action="Edit" asp-route-id=@quiz.Id class="btn btn-outline-primary btn-sm">
							<svg width="16" height="16" viewBox="0 0 16 16">
								<use xlink:href="Icons/Icons.svg#icon-edit"></use>
							</svg>
						</a>
						<a asp-controller="Library" asp-action="DeleteQuiz" asp-route-id=@quiz.Id class="btn btn-outline-danger btn-sm">
							<svg width="16" height="16" viewBox="0 0 16 16">
								<use xlink:href="Icons/Icons.svg#icon-delete"></use>
							</svg>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>