@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .dropbutn {
        padding: 8px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;

    }
    .display-8{
        padding-bottom: 10px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to Acuedify</h1>
    <h3 class="display-8">The simplest flashcard app</h3>
    <a class="dropbutn" asp-area="" asp-page="/Public/Index">Go to Public Quizzes</a>
</div>
