 @page
@model Acuedify.Pages.Library.DeleteQuizModel
@{
}

<form method="post" asp-page="DeleteQuiz" asp-page-handler="Confirm" asp-route-id="@Model.Quiz.Id">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Quiz</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Quiz.Title"></label>
			<input asp-for="Quiz.Title" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Quiz.Description"></label>
			<input asp-for="Quiz.Description" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px">
			Back to list
		</a>
	</div>

</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

