@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="~/css/StyleSheetLibrary.css">

<header class="header-library">
        <h1 class="title">Welcome to Your Library</h1>
    <input type="text" id="searchBar" placeholder="Search..." class="search-bar" style="border: 1.5px solid #5999ff;">
        <div id="searchResults" class="search-results"></div>
    </header>

<div class="container-library" id="regularContent">

    <nav class="library-nav">
        <a href="#tests" class="nav-link-library active" data-bs-toggle="tab">Your Tests</a>
        <a href="#favs" class="nav-link-library" data-bs-toggle="tab">Favourites</a>
        <div class="dropdown">
            <button class="dropbtn">Create</button>
            <div class="dropdown-content">
                <a asp-page="../Quizzes/Create" class="dropdown-item">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="Icons/Icons.svg#icon-quiz"></use>
                    </svg>
                    Quiz
                </a>
                <a asp-page="../Folders/Create" class="dropdown-item">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use xlink:href="Icons/Icons.svg#icon-folder"></use>
                    </svg>
                    Folder
                </a>
                <a asp-page="Import" class="dropdown-item">
                    Import collection
                </a>
            </div>
        </div>
    </nav>

    <main id="mainContent">
        <div class="tab-content">
            <div class="tab-pane-library active" id="tests" role="tabpanel">
                <partial name="_TabFolders" , model="Model" />
                <partial name="_TabQuizzes" , model="Model" />
            </div>
            <div class="tab-pane-library" id="favs" role="tabpanel">
                <partial name="_TabFav" , model="Model" />
            </div>
        </div>
    </main>
</div>


<script src="~/js/Library.js"></script>
