@page
@model Acuedify.Pages.Questions.DeleteModel
@* @model Acuedify.Models.Question *@

@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-page="/Questions/Delete">
    <div class="border p-3 mt-4">
        <input type="hidden" asp-for="Question" />
        <input type="hidden" asp-for="Question.Id" />
        <input type="hidden" asp-for="Question.UserId" />
		<div class="row pb-2">
			<h2 class="text-primary">Delete Question</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Question.Term"></label>
            <input asp-for="Question.Term" disabled class="form-control" />
		</div>
		<div class="mb-3">
            <label asp-for="Question.Definition"></label>
            <input asp-for="Question.Definition" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Confirm Delete</button>
		<a asp-page="/Questions/Index" class="btn btn-secondary" style="width:150px">
			Back to list
		</a>
	</div>

</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}



