.create-quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #EaEbEf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .create-quiz-container h1,
    .create-quiz-container h4 {
        text-align: center;
        color: #333;
    }

.create-quiz-form {
    margin-top: 20px;
}

    .create-quiz-form .form-group {
        margin-bottom: 15px;
    }

        .create-quiz-form .form-group label {
            font-weight: bold;
            color: #555;
        }

        .create-quiz-form .form-group input[type="text"],
        .create-quiz-form .form-group input[type="checkbox"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .create-quiz-form .form-group input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .create-quiz-form .form-group input:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 1px #80bdff;
            outline: 0;
        }


        .create-quiz-form .form-group input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .create-quiz-form .form-group .text-danger {
            color: #dc3545;
        }

.back-to-list {
    text-align: center;
    margin-top: 20px;
}

    .back-to-list a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s;
    }

        .back-to-list a:hover {
            color: #0056b3;
        }

.favorite-checkbox-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.favorite-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.back-to-list a {
    display: inline-block;
    padding: 10px 20px;
    color: #007bff;
    background-color: white;
    border: 1px solid #007bff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .back-to-list a:hover {
        background-color: #e7f3ff;
    }

body, p, label, span, div, h1, h4 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@keyframes backgroundFade {
    0%, 100% {
        background-color: #ffffff;
    }

    50% {
        background-color: #E0E0E0;
    }
}

body {
    animation: backgroundFade 10s infinite alternate;
}
