@page
@model Acuedify.Pages.Folders.CreateModel

@{
    ViewData["Title"] = "Create Folder";
}

<link rel="stylesheet" href="~/css/FolderForm.css" />

<div class="folder-form-container">
    <h1>Create</h1>
    <h4>Folder</h4>
    <hr />
    <div class="folder-form">
        <form method="post" asp-page="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Folder.Name" class="control-label"></label>
                <input asp-for="Folder.Name" class="form-control" />
                <span asp-validation-for="Folder.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="back-to-list">
    <a asp-page="/Library/Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
